<style type="text/css">
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
div {
    /*border: 1px solid Chocolate;*/
}
.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
:focus {
    outline: none;
}


/**
 * Navigation Section
 */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px
}
.top-navigation .logo {
    height: 4.375rem;
    padding: 0px 15px
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
    
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
    background-image: url('http://i1045.photobucket.com/albums/b453/autumnfern3/karma_image1_zpsiikrerps.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 2.5rem;
    font-size: 1.75rem;
}

.introduction h1, h3 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    }

.introduction .buttons {
    color: #fff;
    text-align: center;
    margin-top: 1.56rem;

}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
button:hover { 
    background-color: #492214;
}

big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 1.33;
    background-color: #cc0000;
    width: 15rem;
    color: #fff;
    cursor: pointer; 
    cursor: hand; 

}

small-button {
    width: 4.688rem;
    background-color: #090909;
    border-color: #090909;
    text-shadow: 2px 2px #ff0000;
    border-style: none;
    border-radius: 3px;
    padding: 1rem 1rem;
    color: white;
    font-size: 1.125rem;
}

.cases {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
font-size: 2.75rem;
font-weight: 300;
}


.cases .devices li {
    width: 33.333%
    float:left;
    list-style-type: none;
    display: inline-block;
    margin: 0rem 1.75rem;
    box-sizing: border-box;
}

.cases .devices h3 {
    font-weight: 400;
    font-size: 1.50rem;
    margin: 2.5rem 4px 1.875rem;
    display: inline-block;
    color: #666;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social hr {   
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem auto;
    box-sizing: content-box;
    height: 0;
    width: 30%;
    display: block;
}

.social h5 {
    font-size: .975rem;
    font-weight: 400;
    color: #333;

}

.social li {
    float: left;
    display: inline;
    width: 33.33%;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 auto;

}

.social .icons li {
    border-radius: 1.75rem 2.25rem;
    width: 2.75rem;
    height: 2.75rem;
    display: inline;
    margin: 1.25rem 1rem;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .fa-twitter:before {
    cursor: pointer;
    content: "\f099";
}
.social .twitter {
    color: #55acee;
    unicode-bidi: f099
}
.social .fa-facebook:before {
    cursor: pointer;
    content: "\f0cd";
}
.social .facebook {
    color: #4c66a4;
}

.social .fa-instagram:before {
    cursor: pointer;
    content: "\f16d";
}

.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}



</style>